.page-page {
    table {
        margin: 4px 0;
    }

    .add-button {
        margin: 4px 0;
    }
}

.create-page-page {
    input {
        margin-top: 4px;
        margin-bottom: 8px;
    }

    button {
        margin-top: 4px;
    }
}