.page-page {
    .services {
        display: flex;
        gap: 25px;
    }
}

.create-page-page {
    input {
        margin-top: 4px;
        margin-bottom: 8px;
    }

    button {
        margin-top: 4px;
    }
}