@import "../common.scss";

.page-page {
    table {
        margin-top: 4px;

        .dragging {
            display: table;
            border-bottom: 1px solid black;
        }

        .actions {
            display: flex;
            gap: 4px;

            div {
                @extend button;
            }
        }
    }

    & > button {
        margin: 8px 0;
    }
}
