* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
select {
    background-color: transparent;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

body {
    font-family: sans-serif;
    margin: 20px;
}

header {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

a {
    text-decoration: underline;
}

button,
input:not([type=checkbox]),
select {
    padding: 4px 6px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    padding: 4px 8px;

    &:hover {
        background-color: #f0f0f0;
    }
}

.title {
    font-size: 18px;
    margin-bottom: 16px;
}

.state {
    font-size: 18px;
    margin-bottom: 16px;
}

table {
    border-spacing: 0;

    td {
        border-top: 1px solid black;
    }

    th,
    td {
        padding: 8px 12px;

        &:has(a) {
            padding: 0;

            a {
                display: block;
                width: 100%;
                padding: 8px 12px;
            }

            &:hover {
                background-color: #f0f0f0;
            }
        }
    }

    .linked {
        &:hover td {
            background-color: #f0f0f0;
        }

        a {
            text-decoration: none;
        }
    }
}

.input-field input,
.input-field select {
    display: block;
    margin-top: 4px;
    margin-bottom: 8px;
}

.buttons {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}